<div class="container">
  <h1>Log in</h1>
      <div class="row">
        <form class='col s12' method='POST' action='/auth/login'>
          <div class="row">
              <div class="input-field col s6">
                      <input  name='email' placeholder="email" id="email-login" type="text" class="validate">
                      <label for="email" class="active">Email</label>
              </div>
              <div class="input-field col s6">
                    <input  name='password' placeholder="password" id="password-login" type="password" class="validate">
                    <label for="password" class="active">Password</label>
              </div>
          </div>
              <button class="btn waves-effect waves-light" type="submit" name="action">Submit
              <i class="material-icons right">mood</i>
              </button>
        </form>
      </div>


</div>
