<section class="profile-page">

    <div class="container center-align">

        <h1>Welcome, <%=currentUser.firstName%></h1>

        <a class="waves-effect waves-light btn-large teal lighten-3" href="/addresses">VIEW ADDRESSES</a>
        <a class="waves-effect waves-light btn-large teal lighten-3" href="/favorites">VIEW FAVORITES</a>
        <a class="waves-effect waves-light btn-large teal lighten-3" href="/auth/profile/<%=user.id%>/edit">EDIT PROFILE</a>

    </div>

</section>

<!-- link to saved  yelp favorites-->
<!-- add delete account here -->
