<div class="container">

    <h1>Find your happy</h1>

    <div class="row">
    <form class="col s12" method="POST" action="/auth/signup">
      <div class="row">
        <div class="input-field col s6">
          <input  name='firstName' placeholder="first name" id="firstName" type="text" class="validate">
          <label for="firstName" class="active">First Name</label>
        </div>
        <div class="input-field col s6">
          <input name= "birthdate" id="birthdate" type="date" class="validate">
          <label for="birthdate" class="active">Birthdate</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input name="email" id="email" type="email" class="validate">
          <label for="email" class="active">Email(this will be your username)</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" id="password" type="password" class="validate">
          <label for="password" class="active">Password</label>
        </div>
      </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
    </form>
  </div>

</div>
