<header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
          <div class="container">
              <a href="/" class="brand-logo">find happy.</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/auth/logout">Logout</a></li>
                  <li><a href="/auth/profile">Profile</a></li>
                  <li><a href="/addresses">Your Addresses</a></li>
                  <li><a href="/favorites">Your Favorites</a></li>
              </ul>
              <div class="right hide-on-large-only">
                  <!-- Dropdown Trigger -->
                    <a class='dropdown-button btn right' data-beloworigin="true"  href='#' data-activates='dropdown1'>Drop Me!</a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li><a href="/auth/logout">Logout</a></li>
                        <li><a href="/auth/profile">Profile</a></li>
                        <li><a href="/addresses">Your Addresses</a></li>
                        <li><a href="/favorites">Your Favorites</a></li>
                    </ul>
                </div>
          </div>
      </div>
    </nav>
</header>
