<div class="center-align">
<h1>FIND HAPPY.</h1>

<a class="waves-effect waves-light btn-large" href="/auth/login">LOGIN</a>
<a class="waves-effect waves-light btn-large" href="/auth/signup">SIGN UP</a>
</div>
