/*
    ORGANIZATIONAL
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
    margin: 0;
}

main {
    flex: 1 0 auto;
}

header {
    height: 10vh;
}

footer {
    height: 5vh;
    color: #FFF;
    background-color: #ee6e73;
}

footer a {
    color: #FFF;
}


/*
        GENERAL STYLES
*/

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
}

.title-case {
    text-transform: capitalize;
}


/*
    MAP PAGE
*/

#map {
    height: 80vh;
}

.map-container {
    margin: 0;
}

#display-yelp-result img {
    max-height: 20vh;
}

.display-photos img {
    max-height: 15em;
}

.display-address {
    margin: 0;
}
