/*may want to use these colors: http://www.pictaculous.com/
and pick some close ones from materialize
dark: #243E43;
faded teal: #648186;
bold blue: #018EA8;
light blue: #85D1CF;
pink: #FE827A;
*/


/*
    DEFINITIONS
*/

@font-face {
    font-family: Ikaros;
    src: url('fonts/Ikaros-Regular.otf');
}

@font-face {
    font-family: Reckless;
    src: url('fonts/Reckless.otf');
}


/*
    ORGANIZATIONAL
*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-size: 16px;
    font-family: Ikaros;
    margin: 0;
    padding: 0;
    background-color: #ffcdd2;
}

main {
    flex: 1 0 auto;
    min-height: 90vh;
}

section {
    padding-top: 2em;
}

header {
    height: 10vh;
}

footer {
    height: 5vh;
    color: #FFF;
    background-color: #ee6e73;
    padding: 1px;
}

footer a {
    color: #FFF;
}


/*
        GENERAL STYLES
*/

.main,
.flash-alerts {
    margin-bottom: 0;
}

.main {
    min-height: 95vh;
    width: 100%;
}

h1 {
    font-size: 5em;
    font-family: Reckless;
}

h3 {
    font-size: 2em;
}

.title-case {
    text-transform: capitalize;
}


/*
    LANDING PAGE
*/

.landing-title {
    font-size: 10em;
}

.landing-page {
    background-image: url('../img/bar-scene.jpg');
    background-size: cover;
    color: white;
}


/*
    HEADER
*/

#nav-mobile ul,
#nav-mobile li,
#nav-mobile a {
    height: 4em;
}

.brand-logo {
    margin-top: 0.5em;
    margin-left: 1em;
}

.dropdown-button {
    margin-right: 1.5em;
    margin-top: 0.75em;
}

#dropdown1 a {
    color: #ef9a9a;
}


/*
    FOOTER
*/

footer p {
    margin-left: auto;
    margin-right: auto;
}


/*
    MAP PAGE
*/

#map,
.address-right {
    height: 86.5vh;
}

.map-container {
    margin: 0;
}

.address-right {
    margin: 0;
    background-image: url('../img/raise-your-glass.jpg');
    background-size: cover;
}

#display-yelp-result img {
    max-height: 20vh;
}

.display-photos img {
    max-height: 15em;
}

.display-address {
    margin: 0;
}
