/*may want to use these colors: http://www.pictaculous.com/
and pick some close ones from materialize
dark: #243E43;
faded teal: #648186;
bold blue: #018EA8;
light blue: #85D1CF;#80cbc4 teal lighten-3
pink: #FE827A;#ff8a80   red accent-1
*/


/*
    DEFINITIONS
*/

@font-face {
    font-family: Ikaros;
    src: url('fonts/Ikaros-Regular.otf');
}

@font-face {
    font-family: Reckless;
    src: url('fonts/Reckless.otf');
}


/*
    ORGANIZATIONAL
*/

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 16px;
    font-family: Ikaros;
    margin: 0;
    padding: 0;
    color: white;
    background-color: #ffcdd2;
    width: 100%;
}

section {
    padding-top: 2em;
    width: 100%;
}

header {
    height: 10vh;
}

footer {
    height: 5vh;
    color: #FFF;
    background-color: #ee6e73;
    padding: 1px;
}

footer a {
    color: #FFF;
}


/*
        GENERAL STYLES
*/

.flash-alerts {
    margin-bottom: 0;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Reckless;
    color: white;
}

h1 {
    font-size: 7em;
}

h2 {
    font-size: 6em;
}

h3 {
    font-size: 5em;
}

h4 {
    font-size: 4em;
}

h5 {
    font-size: 3em;
}

.title-case {
    text-transform: capitalize;
}


/*
    BUTTONS
*/

.btn,
.btn-large {
    margin: 1em;
}

.dropdown-button {
    margin: initial;
}


/*
    CARDS
*/

.card-panel {
    background-color: rgba(0, 0, 0, 0.35);
    border: 1px solid #80cbc4;
    border-radius: 5%;
}

.card-panel:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.card-content,
.card-content p {
    margin-top: 0.75em;
}

.card-title {
    font-size: 1.5em;
}

.card-panel i {
    color: #018EA8;
}

.card-panel .btn a {
    margin: initial 0;
    padding: 0;
    width: 100%;
}

.btn i {
    margin: 0 0.25em;
}


/*
    FORMS
*/

form,
.input-field label {
    color: white;
}

.input-field label:not(.label-icon).active {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #85D1CF inset !important;
}


/*
    HEADER
*/

#nav-mobile ul,
#nav-mobile li,
#nav-mobile a {
    height: 4em;
}

.brand-logo {
    margin-top: 0.5em;
    margin-left: 1em;
}

.dropdown-button {
    margin-right: 1.5em;
    margin-top: 0.75em;
}

#dropdown1 a {
    color: #FE827A;
}


/*
    FOOTER
*/

footer p {
    margin-left: auto;
    margin-right: auto;
}

footer a {
    color: #243E43;
}


/*
    BACKROUND IMGS ALL
*/

.landing-page,
.login-page,
.signup-page,
.profile-page,
.edit-profile-page,
.list-addresses-page,
.new-address-page,
.edit-address-page,
.favorites-page,
.display-favorite-page {
    background-size: cover;
    background-attachment: fixed;
}


/*
86.5vh looks better with header
95vh looks better without
*/


/*
    LANDING PAGE
*/

.landing-title {
    font-size: 15em;
    color: white;
}

.landing-page {
    background-image: url('../img/bar-scene.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    min-height: 95vh;
}

.landing-page h5 {
    margin-top: 1em;
}


/*
    LOG IN PAGE
*/

.login-page {
    background-image: url('../img/road-trippin.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay;
    min-height: 95vh;
}


/*
    SIGN UP PAGE
*/

.signup-page {
    background-image: url('../img/snapshot.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay;
    min-height: 95vh;
}


/*
    PROFILE PAGE
*/

.profile-page {
    background-image: url('../img/motel.jpg');
    min-height: 86.5vh;
}


/*
    EDIT PROFILE PAGE
*/

.edit-profile-page {
    background-image: url('../img/shiny-shoes.jpg'), linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay;
    min-height: 86.5vh;
}


/*
    LIST ADDRESSES PAGE
*/

.list-addresses-page {
    background-image: url('../img/elvis.jpg'), linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    background-blend-mode: overlay;
    min-height: 86.5vh;
}


/*
    NEW ADDRESS PAGE
*/

.new-address-page {
    background-image: url('../img/coffee-shop.jpg');
    min-height: 86.5vh;
}

.new-address-page form {
    background-color: rgba(100, 129, 134, 0.75);
    padding: 1em;
}

.new-address-page form>.row {
    padding-top: 1em;
}


/*
    EDIT-ADDRESS PAGE
*/

.edit-address-page {
    background-image: url('../img/hiking-boots.jpg'), linear-gradient(rgba(0, 0, 0, 0.4), rgba(255, 255, 255, 0.1));
    background-blend-mode: overlay;
    min-height: 86.5vh;
}


/*
    FAVORITES
*/

.favorites-page {
    background-image: url('../img/lake-party.jpg');
    min-height: 86.5vh;
}

.collection {
    border: 1px solid #018EA8;
}

.collection .collection-item {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

.collection a {
    color: #018EA8;
}

.collection .collection-item:hover {
    background-color: rgba(133, 209, 207, 0.25);
}


/*
    DISPLAY FAVORITE PAGE
*/

.display-favorite-page {
    background-image: url('../img/bonfire.jpg'), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    background-blend-mode: overlay;
    min-height: 86.5vh;
}

.display {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: 0 auto;
}

.display > * {
    margin: 0.5em auto;
}

.display p {
    font-size: 1.5em;
}

.num-favorited {
    grid-column: 1 / 6;
}

.display-address {
    grid-column: 2 / 4;
}

.display-hours-open {
    grid-column: 2/6;
    font-size: 0.8em;
}

.display img {
    max-height: 15em;
}

.day-display {
    display: inline-block;
    margin: 0.5em;
}

.day-display:first-child {
    font-size: 1em;
}


/*
    MAP PAGE
*/

#map {
    height: 86.5vh;
}

.map-container {
    margin: 0;
}

#map h4 {
    color: #243E43;
}

.height-giver {
    height: 84.25vh;
}

.address-left {
    margin: 0;
    overflow-y: scroll;
    background-image: url('../img/raise-your-glass.jpg');
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: local;
}

.search-options {
    margin-top: 1em;
}

.search-options label {
    color: white;
}

.choices p {
    display: inline-block;
    margin: 0.5em;
}

.directions {
    display: block;
}

.search-options i {
    border-radius: 100%;
    padding: 0.5em;
}

.search-options .other {
    display: block;
}

.search-options input[type=radio] {
    display: none;
}

.search-options input[type=radio] + label {
    color: white;
}

.search-options input[type=radio]:checked + label >i {
    color: #85D1CF;
    background-color: white;
}

#search-option-desc {
    margin: 1em;
}

[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    position: inherit;
    padding-left: 0;
}

#display-yelp-result img {
    max-height: 20vh;
}

#display-yelp-result p {
    font-size: 1.5em;
    line-height: 1.5;
}

.address-details {
    background-color: rgba(0, 0, 0, 0.4);
    width: 50%;
    margin: 0 auto;
    border-radius: 15px;
}

#display-yelp-result a {
    color: white;
}

.disclaimer {
    font-size: 0.8em;
    margin: 0 1em 1em 1em;
}


/*
    MEDIA QUERIES
*/

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: 20%;
    }
    .display {
        font-size: 1em;
    }
    .landing-title {
        font-size: 10em;
    }
    .display img {
        grid-column: 1 / 6;
        margin: 0 auto;
    }
    .display-address {
        grid-column: 2 / 3;
    }
    .display-rating {
        grid-column: 4 / 5;
    }
    .display-price {
        grid-column: 2 / 3;
    }
    .display-open-now {
        grid-column: 4 / 5;
    }
    .display-hours-open {
        grid-column: 1 / 6;
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 600px) {
    .address-left {
        overflow-y: initial;
        background-attachment: fixed;
    }
    .height-giver {
        height: initial;
    }
    .display {
        font-size: 0.75em
    }
}
