<div class="row map-container">
    <div class="col m6 s12 address-left center-align">
        <div class="height-giver">
         <form class="search-options" action="/addresses/<%=address.id%>" method="GET">
          <p class="directions">choose a category or type your own:</p>
            <div class="choices">
              <p>
                    <input name="search" type="radio" id="happy-hour" value='happy hour'>
                    <label for="happy-hour" class="search-icon"><i class="material-icons">local_bar</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="dog-friendly" value='dog friendly'>
                    <label for="dog-friendly" class="search-icon"><i class="material-icons">pets</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="live-music" value='live music'>
                    <label for="live-music" class="search-icon"><i class="material-icons">music_note</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="trivia-night" value='trivia night'>
                    <label for="trivia-night" class="search-icon"><i class="material-icons">help_outline</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="walking-trails" value='walking trails'>
                    <label for="walking-trails" class="search-icon"><i class="material-icons md-48">nature_people</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="karaoke" value='karaoke'>
                    <label for="karaoke" class="search-icon"><i class="material-icons">mic</i></label>
              </p>
               <p>
                    <input name="search" type="radio" id="pizza" value='pizza'>
                    <label for="pizza" class="search-icon"><i class="material-icons">local_pizza</i></label>
              </p>
              <p>
                    <input name="search" type="radio" id="coffee" value='coffee'>
                    <label for="coffee" class="search-icon"><i class="material-icons">local_cafe</i></label>
              </p>
            </div>
            <div class="row">
              <p id="search-option-desc" class="center-align"></p>
            </div>
            <div class="row">
                <p class="other col s10 offset-s1 m4 offset-m2">
                      <label for="other">other:</label><input type="text" name="otherSearch" id="other-search">
                </p>
                <button class="btn teal lighten-3 waves-effect waves-light" type="submit">search</button>
                </div>
          </form>
          <div id="display-yelp-result">
            <%if (yelpSearch.total === 0) {%>
                <p>Unfortunately, there are no local spots of that type around. Let's try another search!</p>
            <%}%>
          </div>
          <p class="disclaimer">disclaimer: search is performed on Yelp's user reviews. please confirm results for each category by contacting the business. </p>
       </div>
    </div>
    <div id="map" class="col m6 s12 left"></div>
</div>

<!-- a few scripts -->

<script>
  var address = <%- JSON.stringify(address) %>;
  var yelpSearch = <%-JSON.stringify(yelpSearch) %>;
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLEMAPS_KEY%>&callback=initMap">
</script>
<script src="/js/map.js"></script>
