
<p><%=yelpSearch%></p>
<div id="map"></div>

<!-- left off here
https://wdi_sea.gitbooks.io/notes/content/05-express/additional-topics/express-geocode/readme.html
https://github.com/sdkevorkian/express-geocode-maps-example/blob/master/views/index.ejs
https://github.com/sdkevorkian/express-geocode-maps-example

 -->

<!-- a few scripts -->

<script>
  var address = <%- JSON.stringify(address) %>;
  var yelpSearch = <%-JSON.stringify(yelpSearch) %>;
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLEMAPS_KEY %>&callback=initMap">
</script>
<script src="/js/map.js"></script>
